<div class="row">
  <div class="col-xs-8">
    <img src="../../../assets/images/cooker-1.png" alt="">
  </div>
  <div class="col-xs-4">
    <ul>
      <li>
        <strong>Name:</strong>
        Dos Hermanas
      </li>
      <li>
        <strong>Location:</strong>
        Plantation, FL 33325
      </li>
      <li>
        <strong>Phone:</strong>
        954-000-0000
      </li>
      <li>
        <strong>Specialities:</strong>
        International, Cuban, Pizzas, Sandwiches
      </li>
      <li>
        <strong>Reviews</strong>
        <img src="../../../assets/images/review.png" class="img-fluid" alt="" style="width:70px; height:auto">
      </li>
      <li>
        <button class="btn btn-primary">Get Suscribed</button>
      </li>
    </ul>
  </div>
</div>
