<div class="container">
  <app-cooker-info></app-cooker-info>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 ">
        <app-cooker-offer></app-cooker-offer>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 ">
        <app-cooker-offer></app-cooker-offer>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 ">
        <app-cooker-offer></app-cooker-offer>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 ">
        <app-cooker-offer></app-cooker-offer>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 ">
        <app-cooker-offer></app-cooker-offer>
      </div>
    </div>
  </div>
</div>
