<div class="row align-items-start">
  <div class="col-md-4">
    <img src="../../../assets/images/meal-2.jpg" class="img-responsive" alt="">
    <h2>Enchilado de Langosta</h2>
  </div>
  <div class="col-md-8">
    <div class="row align-items-start">
      <div class="col-sm-6 col-xs-12">
        <h3>Ingredients</h3>
        <ul>
          <li>Picadillo de cerdo</li>
          <li>Arroz</li>
          <li>Papas</li>
          <li>Pure de tomate</li>
          <li>Aceite de girasol</li>
          <li>Ajo, cebolla, comino, limon</li>
        </ul>
      </div>
      <div class="col-sm-6 col-xs-12">
        <h3>Elaboration</h3>
        <p>Delicioso enchilado elaborado con langosta fresca marinda con romero y cocida al vapor con vino blanco. La salsa
          esta preparada con cebollas, ajo y comino.</p>
      </div>
    </div>
  </div>
</div>
