<a href="google.com">
  <div class="card w-100">
    <div class="card-header">
      <span>Vegan</span>
      <span>Free-Shipping</span>
    </div>
    <img class="card-img-top" src="../../../assets/images/meal-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Enchilado de Langosta</h5>
      <p class="card-text">Delicioso enchilado elaborado con langosta fresca marinda con romero y cocida al vapor con vino blanco. La salsa esta
        preparada con cebollas, ajo y comino.</p>
      <a href="#" class="btn btn-primary">Order Now</a>
    </div>
  </div>
</a>
