<div class="container">
  <form>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="exampleFormControlSelect1">How many portions</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Schedule</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Lunch</option>
            <option>Dinner</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Delivery</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Pickup by yourself</option>
            <option>Deliver by cooker</option>
            <option>UberEat</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
